<!doctype html>
<title>Dash</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div id="nav">
	<img class="navlogo" src="static/img/Light_Logo.png">
	<div id="navleft">
		<a href="{{ url_for('login') }}"> Home </a>
	</div>  <!--navleft -->
	
	<div id="navright">
		{% if session.logged_in %}
			<a href="{{ url_for('logout') }}">Log Out</a>
		{% else %}
			<a href="{{ url_for('login') }}">Log In</a>
		{% endif %}
	</div>  <!--navright -->
</div>  <!-- nav -->

<div class=page>
  <h1 style="text-align:center"><img class="navlogo" src="static/img/Light_Logo.png"></h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">Log In</a>
  {% else %}
    <!-- <a href="{{ url_for('logout') }}">Log Out</a>
   		||||||||||||||||||||||||   -->
	<a href="{{ url_for('show_class') }}">Return to Class Roster</a>
  
 
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
