{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('upload_file') }}" method=post enctype=multipart/form-data>
        <input type="file" name="file"><input type="submit" value="Upload"/>
    </form>
    <form action="{{ url_for('show_class') }}" method=post class=add-entry>
        {{ form.hidden_tag() }}
      <dl>
          <h2 style="text-align:center;"> Add New Students </h2>
		  <dt>{{ form.first_name.label }}:
          {{ form.first_name }} </dt>
          <dt>{{ form.last_name.label }}:
          {{ form.last_name }}</dt>
          <dd style="background:rgba(0,0,0,.8); border-radius:5px; width:150px;">{{ form.submit }}
      </dl>
    </form>

 	<div style="display:block; margin: 15px 0 0 0;"><h2 style="text-align:center;"> Class Roster </h2></div>
  
  <ul class=entries>

  {% for student in students %}
    <li>
      <a href="{{ url_for('show_student', student_id=student.id)}}">{{ student.first_name }} {{ student.last_name }}</a>
  {% else %}
    <li><em>Unbelievable.  No students here so far</em>
  {% endfor %}
  </ul>
  {% endif %}
{% endblock %}
